* a:link {
  text-decoration: none; }

.home {
  height: 100%;
  width: 100%; }
  .home .container {
    z-index: 999;
    background-color: white;
    width: 100%;
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center; }
  .home .fullname {
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 8em; }
    .home .fullname a {
      color: #262626;
      transition-duration: 0.25s; }
      .home .fullname a:hover {
        opacity: 0.65; }
  .home .home-links {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    text-align: center; }
    .home .home-links li {
      margin: 0% 5% 0% 5%;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.5em;
      font-weight: 300;
      letter-spacing: 0.05em;
      cursor: pointer;
      display: inline; }
    .home .home-links a {
      color: #262626;
      transition-duration: 0.25s; }
      .home .home-links a:hover {
        opacity: 0.65; }
  .home .open-source {
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 200px;
    border: .5px solid #ccc;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: white; }
    .home .open-source a {
      cursor: pointer;
      color: black; }
      .home .open-source a:hover {
        color: white; }
    .home .open-source:hover {
      background-color: #ccc; }
  .home svg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -999; }

@media (max-width: 600px) {
  .home .fullname {
    font-size: 4em; }
  .home .home-links {
    font-size: 1em; }
  .home .open-source {
    font-size: .8em;
    width: 140px;
    height: 30px;
    line-height: 30px; } }
@media (max-width: 400px) {
  .home .fullname {
    font-size: 3em; }
  .home .home-links {
    font-size: .75em; } }
.intro-header {
  font-family: 'Source Sans Pro', sans-serif;
  color: #262626;
  width: 100%;
  text-align: center; }
  .intro-header h1 {
    font-size: 6em;
    letter-spacing: 2px;
    font-weight: 200; }
  .intro-header span {
    font-size: 1em;
    font-weight: 300;
    color: #262626; }

.container.archive {
  font-family: 'Source Sans Pro', sans-serif;
  color: #262626;
  max-width: 900px; }
  .container.archive .months {
    padding-left: 0;
    list-style-type: none; }
    .container.archive .months .articles {
      list-style-type: none; }
      .container.archive .months .articles .month {
        margin-top: 75px; }
        .container.archive .months .articles .month h2 {
          font-size: 1em;
          font-weight: 600; }
        .container.archive .months .articles .month article {
          margin: 30px 0px 0px 30px; }
          .container.archive .months .articles .month article a {
            color: #262626;
            font-size: 1.75em;
            font-weight: 300;
            letter-spacing: 0.025em;
            transition-duration: 0.25s; }
            .container.archive .months .articles .month article a:hover {
              opacity: 0.65; }
          .container.archive .months .articles .month article .post-meta {
            font-size: 1em;
            font-style: italic;
            font-weight: 200; }

@media (max-width: 600px) {
  .intro-header h1 {
    font-size: 4em; }
  .intro-header span {
    font-size: .75em; }

  .container.archive {
    padding: 0; }
    .container.archive .months .articles .month {
      margin-top: 40px; }
      .container.archive .months .articles .month h2 {
        font-size: .75em; }
      .container.archive .months .articles .month article {
        margin: 20px 0px 0px 20px; }
        .container.archive .months .articles .month article a {
          font-size: 1.25em; }
        .container.archive .months .articles .month article .post-meta {
          font-size: .75em; } }
@media (max-width: 400px) {
  .intro-header h1 {
    font-size: 3em; }
  .intro-header span {
    font-size: .5em; }

  .container.archive {
    padding: 0; }
    .container.archive .months .articles .month {
      margin-top: 30px; }
      .container.archive .months .articles .month h2 {
        font-size: .5em; }
      .container.archive .months .articles .month article {
        margin: 15px 0px 0px 15px; }
        .container.archive .months .articles .month article a {
          font-size: 1em; }
        .container.archive .months .articles .month article .post-meta {
          font-size: .5em; } }
.back-button {
  background-image: url("/images/back.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  background-size: 40px 40px;
  position: fixed;
  margin-left: -75px;
  margin-top: 10px; }
  .back-button:hover {
    border: 2px solid #e6b24f; }

.date {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: right;
  font-size: 1em;
  font-style: italic;
  font-weight: 200; }

.article-container {
  margin: 0px 60px 0px 60px; }
  .article-container .article {
    width: 75%;
    max-width: 900px;
    min-width: 600px;
    margin: 0 auto;
    padding-top: 60px;
    font-family: 'Vollkorn', serif;
    line-height: 30px; }
    .article-container .article h1, .article-container .article strong {
      font-family: 'Source Sans Pro', sans-serif;
      color: #262626; }
    .article-container .article h1 {
      margin-top: 50px;
      font-size: 4em;
      font-weight: 200;
      text-align: center; }
    .article-container .article strong {
      line-height: 60px;
      font-size: 1.75em;
      font-weight: 300; }
    .article-container .article .swift {
      font-size: 14px;
      line-height: 22px; }
    .article-container .article p {
      font-size: 18px;
      line-height: 44px; }
    .article-container .article img {
      width: 50%; }
    .article-container .article a:link {
      color: #e6b24f; }
    .article-container .article a:visited {
      color: #609dd3; }

@media (max-width: 600px) {
  .date {
    font-size: .75em; }

  .back-button {
    margin-left: -25px; }

  .article-container {
    margin: 0; }
    .article-container .article {
      padding-top: 20px;
      margin: 0 auto;
      width: 80%;
      min-width: 200px; }
      .article-container .article h1 {
        font-size: 3em; }
      .article-container .article strong {
        font-size: 1.5em; }
      .article-container .article p {
        font-size: 14px; }
      .article-container .article pre {
        font-size: 12px; } }
@media (max-width: 400px) {
  .date {
    font-size: .75em; }

  .back-button {
    margin-left: -25px; }

  .article-container {
    margin: 0; }
    .article-container .article {
      margin: 0 auto;
      width: 80%;
      min-width: 200px; }
      .article-container .article h1 {
        font-size: 2em; }
      .article-container .article strong {
        font-size: 1.5em; }
      .article-container .article p {
        font-size: 12px; }
      .article-container .article pre {
        font-size: 10px; } }
@media (max-width: 800px) and (orientation: landscape) {
  .back-button {
    margin-left: -25px; } }
footer {
  font-family: 'Source Sans Pro', sans-serif;
  color: #262626;
  font-size: 1em;
  font-weight: 300;
  max-width: 900px;
  margin: auto;
  padding: 30px 0px 60px 0px;
  text-align: center; }
  footer a {
    cursor: pointer; }

.container.resume {
  max-width: 900px; }
  .container.resume .heading {
    margin-top: 75px; }
    .container.resume .heading h2 {
      font-family: 'Source Sans Pro', sans-serif;
      color: #262626;
      font-size: 2.5em;
      font-weight: 300; }
  .container.resume .item {
    margin-top: 30px; }
    .container.resume .item .item-heading {
      font-family: 'Source Sans Pro', sans-serif;
      width: 100%; }
      .container.resume .item .item-heading h3 {
        color: #262626;
        font-size: 1.75em;
        font-weight: 300;
        display: inline; }
      .container.resume .item .item-heading p {
        display: inline; }
      .container.resume .item .item-heading .location {
        font-size: 1em;
        margin-left: 15px;
        font-weight: 300; }
      .container.resume .item .item-heading .date {
        float: right; }
  .container.resume .item-subheading {
    margin-top: 2.5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 200; }
  .container.resume .item-content {
    margin: 20px 0px 0px 15px;
    font-family: 'Source Sans Pro', sans-serif; }
    .container.resume .item-content p {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1em;
      line-height: 25px;
      font-weight: 300; }
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .cm {
  color: #609DD3;
  font-style: italic;
}
.highlight .cp {
  color: #AEADB5;
  font-weight: bold;
}
.highlight .c1 {
  color: #609DD3;
  font-style: italic;
}
.highlight .cs {
  color: #AEADB5;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .cd {
  color: #609DD3;
  font-style: italic;
}
.highlight .err {
  color: #609DD3;
  font-weight: bold;
}
.highlight .gd {
  color: #404040;
  background-color: #609DD3;
}
.highlight .ge {
  color: #404040;
  font-style: italic;
}
.highlight .gr {
  color: #609DD3;
}
.highlight .gh {
  color: #AEADB5;
}
.highlight .gi {
  color: #404040;
}
.highlight .go {
  color: #AEADB5;
}
.highlight .gp {
  color: #404040;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #AEADB5;
}
.highlight .gt {
  color: #2647A1;
}
.highlight .kc {
  color: #404040;
  font-weight: bold;
}
.highlight .kd {
  color: #404040;
  font-weight: bold;
}
.highlight .kn {
  color: #404040;
  font-weight: bold;
}
.highlight .kp {
  color: #404040;
  font-weight: bold;
}
.highlight .kr {
  color: #404040;
  font-weight: bold;
}
.highlight .kt {
  color: #2647A1;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  color: #404040;
  font-weight: bold;
}
.highlight .mf {
  color: #609DD3;
}
.highlight .mh {
  color: #609DD3;
}
.highlight .il {
  color: #609DD3;
}
.highlight .mi {
  color: #609DD3;
}
.highlight .mo {
  color: #609DD3;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #609DD3;
}
.highlight .sb {
  color: #609DD3;
}
.highlight .sc {
  color: #609DD3;
}
.highlight .sd {
  color: #609DD3;
}
.highlight .s2 {
  color: #609DD3;
}
.highlight .se {
  color: #609DD3;
}
.highlight .sh {
  color: #609DD3;
}
.highlight .si {
  color: #609DD3;
}
.highlight .sx {
  color: #609DD3;
}
.highlight .sr {
  color: #326CB6;
}
.highlight .s1 {
  color: #609DD3;
}
.highlight .ss {
  color: #326CB6;
}
.highlight .s {
  color: #609DD3;
}
.highlight .na {
  color: #326CB6;
}
.highlight .bp {
  color: #AEADB5;
}
.highlight .nb {
  color: #2647A1;
}
.highlight .nc {
  color: #2647A1;
  font-weight: bold;
}
.highlight .no {
  color: #326CB6;
}
.highlight .nd {
  color: #AEADB5;
  font-weight: bold;
}
.highlight .ni {
  color: #326CB6;
}
.highlight .ne {
  color: #609DD3;
  font-weight: bold;
}
.highlight .nf {
  color: #609DD3;
  font-weight: bold;
}
.highlight .nl {
  color: #609DD3;
  font-weight: bold;
}
.highlight .nn {
  color: #AEADB5;
}
.highlight .nt {
  color: #404040;
}
.highlight .vc {
  color: #326CB6;
}
.highlight .vg {
  color: #326CB6;
}
.highlight .vi {
  color: #326CB6;
}
.highlight .nv {
  color: #326CB6;
}
.highlight .ow {
  color: #404040;
  font-weight: bold;
}
.highlight .o {
  color: #404040;
  font-weight: bold;
}
.highlight .w {
  color: #AEADB5;
}

/*


 */


path {
  animation: dash 20s linear;
  stroke-width: 0.4;
  animation-iteration-count: infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 500;
  }
}
