meta charset='utf-8' /
meta content='IE=edge' http-equiv='X-UA-Compatible'/

title =html_title(current_article, current_resource)

/ Device specifier
meta name='viewport' content='width=device-width initial-scale=1' /

/ Meta stuff
- this_url = "https://oli9292.com#{current_resource.url}"
link rel='canonical' href=this_url /
meta itemprop='url' content=this_url /

/ Style-specific Javascripts
= javascript_inline_tag 'loadCSS'

javascript:
  loadCSS('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');
  loadCSS('/css/all.css');
