@import "_variables";
@import "_mixins";

* { 
  a:link {
    text-decoration: none;
  }
}

// Home Page

.fullname {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 8em;
  color: $light-black;
}

.home-links {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 65%;
  list-style-type: none;
  li {
    margin: 0% 5% 0% 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    cursor: pointer;
  }
  a {
    color: $light-black;
    &:hover {
      color: white;
      background-color: $gold;
    }
  }
}

// Blog List

.intro-header {
  font-family: 'Source Sans Pro', sans-serif;
  color: $light-black;
  width: 100%;
  text-align: center;
  h1 {
    font-size: 6em;
    letter-spacing: 2px;
    font-weight: 200;
  }
  span {
    font-size: 1em;
    font-weight: 300;
  }
}

.container.archive {
  font-family: 'Source Sans Pro', sans-serif;
  color: $light-black;
  .months {
    list-style-type: none;
    .articles {
      list-style-type: none;
      .month {
        margin-top: 75px;
        h2 {
          font-size: 1em;
          font-weight: 600;
        }
        article {
          margin: 30px 0px 0px 30px;
          a {
            color: $light-black;
            font-size: 1.75em;
            font-weight: 300;
            &:hover {
              color: white;
              background-color: $gold;
            }
          }
          .post-meta {
            font-size: 1em;
            font-style: italic;
            font-weight: 200;
          }
        }
      }
    }
  }
}

// Blog Article

.back-button {
  background-image: url('/images/back.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  background-size: 40px 40px;
  position: absolute;
  margin-left: -75px;
  margin-top: 10px;
  &:hover {
    border: 2px solid $gold;;
  }
}

.date {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: right;
  font-size: 1em;
  font-style: italic;
  font-weight: 200;
}

.article-container {
  margin: 0px 60px 0px 60px;
  .article {
    width: 75%;
    max-width: 900px;
    min-width: 600px;
    margin: 0 auto;
  	padding-top: 60px;
  	font-family: 'Vollkorn', serif;
  	line-height: 30px;
    h1, strong {
      font-family: 'Source Sans Pro', sans-serif;
      color: $light-black;
    }
    h1 {
      margin-top: 50px;
      font-size: 4em;
      font-weight: 200;
      text-align: center
    }
    strong {
      line-height: 60px;
      font-size: 1.75em;
      font-weight: 300;
    }
  	p {
  		font-size: 16px;
  	}
  	img {
  	  width: 50%;
  	}
    a {
      &:link {
        color: $gold;
      }
      &:visited {
        color: $light-blue;
      }
    }
  }
}
