@import "_variables";

* {
  a:link {
    text-decoration: none;
  }
}

// Home Page

.home {
  height: 100%;
  width: 100%;
  .container {
    z-index: 999;
    background-color: white;
    width: 100%;
    position: absolute;
    display: table;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    text-align: center;
  }

  .fullname {
    letter-spacing: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 8em;
    a {
      color: $light-black;
      transition-duration: 0.25s;
      &:hover {
        opacity: 0.65;
      }
    }
  }

  .home-links {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    text-align: center;

    li {
      margin: 0% 5% 0% 5%;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.5em;
      font-weight: 300;
      letter-spacing: 0.05em;
      cursor: pointer;
      display: inline;
    }

    a {
      color: $light-black;
      transition-duration: 0.25s;
      &:hover {
        opacity: 0.65;
      }
    }
  }

  .open-source {
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 200px;
    border: .5px solid #ccc;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: white;
    a {
      cursor: pointer;
      color: black;
      &:hover {
        color: white;
      }
    }
    &:hover {
      background-color: #ccc;
    }
  }

  svg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -999;
  }
}

@media (max-width: 600px) {
  .home {
    .fullname {
      font-size: 4em;
    }
    .home-links {
      font-size: 1em;
    }
    .open-source {
      font-size: .8em;
      width: 140px;
      height: 30px;
      line-height: 30px;
    }
  }
}

@media (max-width: 400px) {
  .home {
    .fullname {
      font-size: 3em;
    }
    .home-links {
      font-size: .75em;
    }
  }
}

// Blog List

.intro-header {
  font-family: 'Source Sans Pro', sans-serif;
  color: $light-black;
  width: 100%;
  text-align: center;
  h1 {
    font-size: 6em;
    letter-spacing: 2px;
    font-weight: 200;
  }
  span {
    font-size: 1em;
    font-weight: 300;
    color: $light-black;
  }
}

.container.archive {
  font-family: 'Source Sans Pro', sans-serif;
  color: $light-black;
  max-width: 900px;
  .months {
    padding-left: 0;
    list-style-type: none;
    .articles {
      list-style-type: none;
      .month {
        margin-top: 75px;
        h2 {
          font-size: 1em;
          font-weight: 600;
        }
        article {
          margin: 30px 0px 0px 30px;
          a {
            color: $light-black;
            font-size: 1.75em;
            font-weight: 300;
            letter-spacing: 0.025em;
            transition-duration: 0.25s;
            &:hover {
              opacity: 0.65;
            }
          }
          .post-meta {
            font-size: 1em;
            font-style: italic;
            font-weight: 200;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .intro-header {
    h1 {
      font-size: 4em;
    }
    span {
      font-size: .75em;
    }
  }
  .container.archive {
    padding: 0;
    .months {
      .articles {
        .month {
          margin-top: 40px;
          h2 {
            font-size: .75em;
          }
          article {
            margin: 20px 0px 0px 20px;
            a {
              font-size: 1.25em;
            }
            .post-meta {
              font-size: .75em;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .intro-header {
    h1 {
      font-size: 3em;
    }
    span {
      font-size: .5em;
    }
  }
  .container.archive {
    padding: 0;
    .months {
      .articles {
        .month {
          margin-top: 30px;
          h2 {
            font-size: .5em;
          }
          article {
            margin: 15px 0px 0px 15px;
            a {
              font-size: 1em;
            }
            .post-meta {
              font-size: .5em;
            }
          }
        }
      }
    }
  }
}

// Blog Article

.back-button {
  background-image: url('/images/back.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  background-size: 40px 40px;
  position: fixed;
  margin-left: -75px;
  margin-top: 10px;
  &:hover {
    border: 2px solid $gold;;
  }
}

.date {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: right;
  font-size: 1em;
  font-style: italic;
  font-weight: 200;
}

.article-container {
  margin: 0px 60px 0px 60px;
  .article {
    width: 75%;
    max-width: 900px;
    min-width: 600px;
    margin: 0 auto;
  	padding-top: 60px;
  	font-family: 'Vollkorn', serif;
  	line-height: 30px;
    h1, strong {
      font-family: 'Source Sans Pro', sans-serif;
      color: $light-black;
    }
    h1 {
      margin-top: 50px;
      font-size: 4em;
      font-weight: 200;
      text-align: center;
    }
    strong {
      line-height: 60px;
      font-size: 1.75em;
      font-weight: 300;
    }
    .swift {
      font-size: 14px;
      line-height: 22px;
    }
  	p {
  		font-size: 18px;
      line-height: 44px;
  	}
  	img {
  	  width: 50%;
  	}
    a {
      &:link {
        color: $gold;
      }
      &:visited {
        color: $light-blue;
      }
    }
  }
}

// Blog Article

@media (max-width: 600px) {

  .date {
    font-size: .75em;
  }

  .back-button {
    margin-left: -25px;
  }

  .article-container {
    margin: 0;
    .article {
      padding-top: 20px;
      margin: 0 auto;
      width: 80%;
      min-width: 200px;
      h1 {
        font-size: 3em;
      }
      strong {
        font-size: 1.5em;
      }
      p {
        font-size: 14px;
      }
      pre {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 400px) {

  .date {
    font-size: .75em;
  }

  .back-button {
    margin-left: -25px;
  }

  .article-container {
    margin: 0;
    .article {
      margin: 0 auto;
      width: 80%;
      min-width: 200px;
      h1 {
        font-size: 2em;
      }
      strong {
        font-size: 1.5em;
      }
      p {
        font-size: 12px;
      }
      pre {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 800px) and (orientation:landscape) {
  .back-button {
    margin-left: -25px;
  }
}

footer {
  font-family: 'Source Sans Pro', sans-serif;
  color: $light-black;
  font-size: 1em;
  font-weight: 300;
  max-width: 900px;
  margin: auto;
  padding: 30px 0px 60px 0px;
  text-align: center;
  a {
    cursor: pointer;
  }
}

// Resume

.container.resume {
  max-width: 900px;
  .heading {
    margin-top: 75px;
    h2 {
      font-family: 'Source Sans Pro', sans-serif;
      color: $light-black;
      font-size: 2.5em;
      font-weight: 300;
    }
  }
  .item {
    margin-top: 30px;
    .item-heading {
      font-family: 'Source Sans Pro', sans-serif;
      width: 100%;
      h3 {
        color: $light-black;
        font-size: 1.75em;
        font-weight: 300;
        display: inline;
      }
      p {
        display: inline;
      }
      .location {
        font-size: 1em;
        margin-left: 15px;
        font-weight: 300;
      }
      .date {
        float: right;
      }
    }
  }
  .item-subheading {
    margin-top: 2.5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 200;
  }
  .item-content {
    margin: 20px 0px 0px 15px;
    font-family: 'Source Sans Pro', sans-serif;
    p {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1em;
      line-height: 25px;
      font-weight: 300;
    }
  }
}
