.home
  .container
    .fullname: a[href="/blog"] Oliver Plunkett

    ol.home-links
      li: a[href="https://www.github.com/OLI9292" target="_blank"] GitHub
      li: a[href="/blog"] Blog
      li: a[href="/resume"] Resume

  .open-source
    a[href="https://www.github.com/OLI9292/blog" target="_blank"] This site is open source.

  svg#lines

script src="./javascripts/homeAnimation.js"
